<%= form_for([@team, @team.footballers.build]) do |f| %>
  <p>
    <%= f.label :name%><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :surname %><br>
    <%= f.text_area :surname%>
  </p>
  <p>
    <%= f.label :age %><br>
    <%= f.number_field :age %>
   </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
